<div id="<%= dom_id employee %>">
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.position %></td>
    <td><%= employee.office %></td>
    <td><%= employee.age %></td>
    <td><%= employee.start_date %></td>
  </tr>
</div>
