<div class="container p-5">
  <p style="color: green"><%= notice %></p>

  <h1>Employees</h1>

  <%= form_with url: "",
                method: :get,
                data: { turbo_frame: "employees", turbo_action: "advance" } do |f|
  %>
    Show    <%= f.select :count,
                options_for_select([10, 25, 50, 100], selected: params[:count]),{},
                { onchange: "this.form.requestSubmit()" }
            %>
    Search  <%= f.search_field :query,
                value: params[:query],
                oninput: "this.form.requestSubmit()"
            %>
  <% end %>

  <%= turbo_frame_tag "employees" do %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= sort_link_to "Name", :name, data: { turbo_action: "advance" } %></th>
          <th scope="col"><%= sort_link_to "Position", :position, data: { turbo_action: "advance" } %></th>
          <th scope="col"><%= sort_link_to "Office", :office, data: { turbo_action: "advance" } %></th>
          <th scope="col"><%= sort_link_to "Age", :age, data: { turbo_action: "advance" } %></th>
          <th scope="col"><%= sort_link_to "Start Date", :start_date, data: { turbo_action: "advance" } %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @employees %>
      </tbody>
    </table>
    <%== pagy_nav @pagy %>
  <% end %>

  <%= link_to "New employee", new_employee_path %>
</div>
